body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.forms_page-top-left-form{
    margin: 20px;
}

.forms_page-form-box {
    display: inline-block;
    clear: both;
}

.forms_page--form {
    margin: 20px 20px;
}