<div class="starter-template">
	<div id="display_content_area">

		<div class="container">
		  <h2>Striped Rows</h2>
		  <p>The .table-striped class adds zebra-stripes to a table:</p>
		  <table class="table table-striped">
		    <thead>
		      <tr>
		        <th>Firstname</th>
		        <th>Lastname</th>
		        <th>Email</th>
		      </tr>
		    </thead>
		    <tbody id="display_page_table_data">
		    </tbody>
		  </table>
		</div>

<!--    <h1>Bootstrap starter template</h1>
    <p class="lead">Use this document as a way to quickly start any new project.
        <br> All you get is this text and a mostly barebones HTML document.
    </p>  -->
  </div>
</div>
